body {
  background-color: gray;
  text-decoration: aliceblue;
  display:flex;
  flex-direction: column;
  text-align: center;
}

div {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  color:aliceblue;
  font-size: medium;
}

button {
  border-radius: 50px;
  text-align: center;
}
